<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">
    <%- include partials/home_page.ejs %>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




